@import '@/assets/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--dark);
}

/* .darkTheme {
  --bg-color: #1a1a1a;
  background: var(--bg-color);
}
.darkTheme * {
} */
